body {
	background-color: lightgrey;
}

.head {
	text-align: center;
}

#select-container {
	text-align: center;
	margin-bottom: 30px;
}

#productCard {
	height: 150px;
	width: 150px;
	border: 10px solid black;
	margin: 20px;
	display: inline-block;
	text-align: center;
}

.strike {
    text-decoration: line-through;
}

#sale-container {
	color: red;
}